.cart {

  &_title  {
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
  }

  &_products {
    &_header {
      display: flex;
      border-bottom: 1px solid #BBC8D4;
      margin-top: 34px;

      &_el {
        width: 15%;
        font-weight: normal;
        font-size: 17px;
        line-height: 196.19%;
        text-align: center;

        &:first-child {
          width: 70%;
          text-align: left;
        }
      }
    }

    &_list {
      margin-bottom: 22px;
      &_el {
        position: relative;
        display: flex;
        align-items: flex-start;
        padding: 30px 0;
        border-bottom: 1px solid #BBC8D4;


        &_p {
          display: flex;
          width: 15%;

          &_img {
            padding: 0 25px;
          }

          &_info {
            display: flex;
            flex-direction: column;

            &_title {
              font-weight: 500;
              font-size: 19px;
              line-height: 23px;
            }

            &_text {
              font-weight: normal;
              font-size: 13px;
              line-height: 196.19%;
            }

            &_price {
              margin-top: 6px;
              font-weight: 600;
              font-size: 17px;
              line-height: 196.19%;
            }
          }

          &_amount {
            font-weight: 600;
            font-size: 17px;
          }

          &_price {
            font-weight: 600;
            font-size: 17px;
          }

          &:first-child {
            width: 70%;
          }

          &:nth-child(2n) {
            justify-content: space-evenly;
          }

          &:nth-child(3n) {
            justify-content: center;
          }
        }

        &:after {
          content: '';
          position: absolute;
          right: -45px;
          top: 30px;
          cursor: pointer;
          width: 27px;
          height: 27px;
          background-image: url("/close.svg");
          background-position: center center;
          background-repeat: no-repeat;
          background-color: #091924;
          border-radius: 100%;
        }
      }
    }
  }

  &_shipping {
    &_inner {
      display: flex;
      flex-direction: column;
    }

    &_title {
      margin-bottom: 15px;
      font-weight: 500;
      font-size: 19px;
      line-height: 196.19%;
    }

    &_header {
      display: flex;
      align-items: center;

      &_title {
        font-weight: normal;
        font-size: 19px;
        line-height: 22px;
      }

      &_price {
        margin-left: 24px;
        font-weight: 600;
        font-size: 17px;
        line-height: 196.19%;
      }
    }

    &_cnt {
      margin-top: 7px;
      font-weight: normal;
      font-size: 17px;
      line-height: 26px;
    }

    &_list {
      &_el {
        display: flex;
        border-bottom: 1px solid #BBC8D4;
        margin-bottom: 24px;
        padding-bottom: 24px;
      }
    }
  }

  &_gutschein {
    &_title {
      font-weight: 500;
      font-size: 19px;
      line-height: 196.19%;
      margin-bottom: 9px;
    }

    &_cnt {
      display: flex;
      border-bottom: 1px solid #BBC8D4;
      padding-bottom: 24px;
    }
  }

  &_options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0 75px 0;

    &_link {
      font-weight: normal;
      font-size: 19px;
      line-height: 22px;
      text-decoration-line: underline;
      cursor: pointer;
    }

    &_cart {
      display: flex;
      align-items: center;

      &_price {
        font-weight: 500;
        font-size: 30px;
        line-height: 35px;
        color: #FF6B03;
        margin-right: 27px;
      }

    }
  }
}
