.fragen {
  &_container {
    width: 731px;
    text-align: center;
    padding-top: 54px;
    margin: 0 auto;
    margin-bottom: 71px;

    &_h2 {
      font-weight: 500;
      line-height: 35px;
      font-size: 30px;

      &_p {
        line-height: 26px;
        font-weight: normal;
        font-size: 17px;
      }
    }
  }

  &_title {
    padding-bottom: 63px;
    padding-top: 32px;
  }

  &_questions {
    border-bottom: 1px solid #e7eaef;
    padding: 23px 0 23px 0;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
  }

  &_titleSecond {
    padding: 68px 0 63px 0;
  }

  &_questionsSecond {
    border-bottom: 1px solid #e7eaef;
    padding: 23px 0 23px 0;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
  }

  &_titleThord {
    padding: 68px 0 63px 0;
  }

  &_questionsThord {
    border-bottom: 1px solid #e7eaef;
    padding: 23px 0 23px 0;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
  }

  &_stylesH2 {
    border-bottom: 1px solid #e7eaef;
    padding-bottom: 30px;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
  }

  &_contQuestions {
    width: 963px;
    margin-left: 252px;
  }
}
