.faq {
  &_title {
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    padding-bottom: 23px;
    margin-top: 29px;
    border-bottom: 1px solid #BBC8D4;
  }

  &_cnt {
    margin-top: 18px;
    font-weight: normal;
    font-size: 17px;
    line-height: 26px;
  }
}
