.board {
  background: #F5F7FA;

  &_inner {
    padding: 33px 0px 54px 0px;
    display: flex;
    flex-direction: column;
  }

  &_carousel {
    display: flex;
    justify-content: flex-end;
    padding-left: 280px;

    @media screen and (max-width: 1023px) {
      padding-left: 0;
      display: block;
    }
  }

  &_tabs {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    padding-left: 280px;

    @media screen and (max-width: 1023px) {
      padding-left: 0;
    }

    @media screen and (max-width: 767px) {
      flex-direction: column;
    }
  }
}
