.asideArtItem {
  background: #FFFFFF;
  box-shadow: 0px 15px 35px rgba(39, 44, 47, 0.1);
  border-radius: 0px;
  margin-top: 30px;
  max-width: 269px;
  width: 269px;

  &_inner {
    display: flex;
    align-items: center;
    padding: 19px 13px;
  }

  &_cnt {
    margin-left: 10px;

    &>h3 {
      font-weight: bold;
      font-size: 12px;
      line-height: 16px;
    }
    &>p {
      font-weight: normal;
      font-size: 12px;
      line-height: 15px;
      margin-top: 3px;
    }
  }

  &_img {
    width: 72px;
  }
}
